@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-text: #f3eaf6;
  --color-background: #0e0610;
  --color-primary: #cb9edb;
  --color-secondary: #5f2872;
  --color-accent: #ab57c9;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
/* index.css atau App.css */

.animate-marquee-custom {
  display: flex;
  width: max-content; /* Memastikan konten memanjang ke samping, bukan wrap ke bawah */
  animation: marquee-infinite 30s linear infinite;
}

@keyframes marquee-infinite {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Geser sebanyak -50% karena kita menduplikasi array [...listTools, ...listTools] */
    transform: translateX(-50%);
  }
}
